################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug
/.vs
/UECRayTracing.vcxproj.user
/UECRayTracing.vcxproj.filters
/UECRayTracing.vcxproj
/UECRayTracing.sln
